#worker_processes 4;
#worker_rlimit_nofile 4096;

#events {
#    worker_connections 2048;
#    use epoll;
#}

server {
    listen 80 default_server;
    root /var/www/html;
    location /m {
        alias /site/static;
    }
    location / {
        try_files $uri @uwsgi;
    }
    location @uwsgi {
        include uwsgi_params;
        uwsgi_pass unix:///tmp/uwsgi.sock;
    }
}